body {
  font-family: sans-serif;
}

th {
  background-color: white;
  font-size: 11px !important;
}

.sickies {
  border: 1px solid #dee2e6;
  background: #ffffffeb;;
  left: 100px;
  position: sticky;
}

.sickiese {
  border: 1px solid #dee2e6;
  background: #ffffffeb;;
  left: 0px;
  position: sticky;
}

.sickieseDescript {
  border: 1px solid #dee2e6;
  background: #ffffffeb;;
  left: 165px;
  position: sticky;
}

.sickiesactivity {
  border: 1px solid #dee2e6;
  background: #ffffffeb;;
  left: 230px;
  position: sticky;
}

tr {
  font-size: 11px !important;
}

td {
  font-size: 11px !important;
}

.table td, .table th {
  padding: 0px !important;
}

.size-row{
  height: 50px !important;
}

.floatThead-col {
  height: 50px !important;
}